<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:be.pageRenderer
    includeJavaScriptModules="{
         0: '@qc/qc-be-domain-color/DomainColorPickers.js',
         1: '@qc/qc-be-domain-color-js/QcBeDomainColor.js'
      }"
/>

<section class="domainColorapp">
    <div id="qc-be-domain-color"></div>
    <f:variable name="labels" value="{labels -> f:format.raw()}" />
    <f:variable name="qcDomainColors" value="{qcDomainColors -> f:format.raw()}" />
    <div class="d-none" id="labels" data-labels="{labels}"></div>
    <div class="d-none" id="qcDomainColors" data-qcDomainColors="{qcDomainColors}"></div>

</section>
</html>

