<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:be.pageRenderer
    includeJavaScriptModules="{
         0: '@qc/qc-be-domain-color/DomainColorPickers.js'
      }"
/>
<f:variable name="l">{</f:variable>

<section class="domainColorapp">
    <script>
        const qcDomainColors = {qcDomainColors -> f:format.raw()}
    </script>
    <qc-domain-color-pickers
        domain-colors={qcDomainColors}
        data-conf='{
         "label" : "Identify your environment at glance by providing regexps matching your web domains, to change the left menubar background color.",
         "buttonLabel" : "New domain",
         "domainNameInputPlaceholder" : "Valid regexp, e.g. prod, dev.*, etc"
        }'
    />
</section>



</html>

